a {
  cursor: pointer;
}

.app-container {
  min-height: 350px;
}

@font-face {
  font-family: "Shadows";
  src: url("../styles/fonts/ShadowsIntoLight-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.option:hover {
  background-color: #ff8906 !important;
}

.react-datepicker__day--selected {
  background-color: #ff8906 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #ff8906 !important;
}

.react-datepicker__input-container input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
}
.multiselect-container {
  background-color: white;
}

